/** @format */
body {
  background-color: rgb(1, 20, 22);
  padding: 20px;
  font-size: 20px;
  border-top: 20px;
}
#foobar {
  display: none;
 }

 
switch {
  size: 100px;
}
title {
  color: black;
}
.button {
  background-color: white;
  border: rgba(49, 2, 42, 0.579);
  padding: 12px;
  margin: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  text-align: center;
}
.button:hover {
  box-shadow: rgba(64, 2, 51, 0.953) 0px 10px 10px;
  background-color: white;
  -webkit-transform: translateY(0.12px);
  transform: translateY(-0.9px);
}

input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  height: fit-content;
}

input:focus {
  box-shadow: rgba(64, 2, 51, 0.953) 0px 10px 10px;
  background-color: white;
  -webkit-transform: translateY(0.12px);
  transform: translateY(-0.9px);
}

#bdaypic1 {
  position: fixed;
  width: 300px;
  height: 300px;
  bottom: 30px;
}

#bdaypic2 {
  width: 300px;
  height: 300px;
}

#bdaypic3 {
  position: fixed;
  bottom: 510px;
  right: 90px;
}

#loggedin {
  width: fit-content;
  text-align: center;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  background-color: rgb(16, 13, 13);
  border: darkblue;
}

#clue1{
position: fixed;
top: 260px;
left: auto;
font-size: medium;
}

#clue2{
  position: fixed;
  top: 600px;
  left: auto;
  font-size: medium;
}
#help:hover {
  box-shadow: rgba(0, 0, 0, 0.851) 0px 2px 2px;
}

#popup {
  position: fixed;
  bottom: 20px;
}

#mypopup {
  visibility: hidden;
  position: absolute;
}

#mypopup.show {
  visibility: visible;
  position: fixed;
  bottom: 10px;
  left: 39rem;
  width: 200px;
  background-color: rgb(93, 11, 83);
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
}
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid rgb(233, 227, 227);
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(221, 215, 215);
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
* {
  box-sizing: border-box;
}


.countdown {
  margin: 100px auto;
  width: 50%;
  display: flex;
  gap: 20px;
  font-family: sans-serif;

}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: rgb(226, 11, 11);
  background-color: #111;
}

.segment-display__bottom {
  line-height: 0;
  color: rgb(213, 19, 19);
  background-color: rgb(24, 22, 22);
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: rgb(229, 26, 26);
  background-color: #111;
  transform-origin: bottom;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: rgb(229, 26, 26);
  background-color: #333;
  border-top: 2px solid black;
  transform-origin: top;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
